body {
    background-image: url(../images/mickey.jpg);
   text-align: center;
    color: rgb(245, 53, 53);
}

button {
    margin:1em;
    background-color: rgb(1, 1, 19);
}

.gifDiv {
    display: inline-block; 
    margin:5px;
    vertical-align: top;

}

.jumbotron {
  background-color: rgba(252, 253, 249, 0.103);

}


